<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Post List</title>
</head>
<body>
	
	<p align="right">
		<a th:href="@{/post/postList}">(공통)커뮤니티 게시글로 이동</a>
		<th:block th:if="${session.userId == null"> <!-- 세션에 userId가 null이면(로그아웃 상태) -->
			<a th:href="@{/user/signIn}">로그인</a>
		</th:block>
		<th:block th:if="${session.userId != null"> <!-- 세션에 userId가 null이 아니면(로그인 상태) -->
			<a th:href="@{/user/myPage}">마이페이지</a>
			<a th:href="@{/user/signOut}">로그아웃</a>
		</th:block>
	</p>
	
	<div align="center">
		<h2>커뮤니티 게시글 리스트</h2>
		<p th:text="|전체 게시글 수 : ${allPostCnt}개|"></p>
		<table border="1">
			<tr align="center">
				<th>번호</th>
				<th>작성자</th>
				<th>작성자 이미지</th>
				<th>제목</th>
				<th>작성일</th>
				<th>조회수</th>
			</tr>
			<tr align="center" th:each="postMap : ${postListMap}"> <!-- 타임리프 반목문으로 postListsMap을 단수인 postMap에 담아 돌림 -->
				<td th:text="${postMapStat.count}"></td> <!-- 번호 -->
				<td th:text="${postMap.nickname}"></td> <!-- 닉네임 -->
						 <!-- 이미지의 src경로를 동적으로 설정 -->   <!-- /user/thumbnails 경로에 fileName이라는 쿼리 파라미터로 postMap.profileUUID 값을 넘김 -->
				<td><img                   th:src                   ="@{/user/thumbnails(fileName=${postMap.profileUUID})}" width="50" height="50"></td> <!-- 프로필 -->
								<!-- /post/postDetail 경로에 postId를 쿼리 파라미터로 넘겨 게이물의 ID를 전달 -->
				<td><a th:href="@{/post/postDetail(postId=${postMap.postId})}" th:text="${postMap.subject}"></a></td> <!-- 상세보기 -->
				<td th:text="${postMap.enrollAt}"></td> <!-- 작성일 -->
				<td th:text="${postMap.readCnt}"></td> <!-- 조회수 -->
			</tr>
			<th:block th:if="${session.userId != null}">
				<tr align="right">
					<td colspan="6">
						<input type="button" value="작성하기" th:onclick="|location.href='@{/post/createPost}'|">
					</td>
		</table>
	</div>
</body>
</html>